[submodule "vendors/org-mode"]
	path = vendors/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "vendors/emacs-tiny-tools"]
	path = vendors/emacs-tiny-tools
	url = git://git.savannah.nongnu.org/emacs-tiny-tools.git
[submodule "vendors/pymacs"]
	path = vendors/pymacs
	url = git://github.com/pinard/Pymacs.git
